<!-- Latest compiled and minified CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/bulma.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/lernende.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/open-iconic/font/css/open-iconic.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/essential/font/flaticon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/essential/sprites/essential_sprites_16.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/essential/sprites/essential_sprites_32.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/essential/sprites/essential_sprites_64.css' %}">
<!-- Optional theme -->

