{%extends "lesson_base.html" %}

<title>{% block head_title %}Kategoria ćwiczenia | {{block.super}}{% endblock head_title %}</title>

{% block content %}
    <h1>{{ object.title }}</h1>
    <h3><a href="{{ object.get_absolute_url }}/update">edytuj</a></h3>
    <h2> Typ: {{ object.get_type_display }}</h2>
    {% if object.picture %}
        <img src="{{ object.picture.url }}" width=30% height=20%>
    {% endif %}
    <p>
    <h3>Zawartość</h3>
    <ul>
        {% for key, value in object.dictionary.items %}
        <li> {{key}} {{value}} </li>
        {% endfor %}
    </ul>
    </p>
    <p>
        <h3>Kategorie:</h3>
        <ul>
            {% for item in object.get_categories %}
                <li> {{ item }} </li>
            {% endfor %}
        </ul>
    </p>
    <p> {{ object.timestamp }}, {{ object.updated|timesince }} ago </p>
{% endblock %}
