{%extends "lesson_base.html" %}

<title>{% block head_title %}Wszystkie ćwiczenia | {{block.super}}{% endblock head_title %}</title>

{% block content %}
{{block.super}}
<h3>Ciwczenia <small><a href='{% url "lessons:exercise-create"%}'>+</a></small></h3>
    {% for obj in object_list %}
        <li><a href="{{ obj.get_absolute_url }}">{{obj}}</a></li>
        {% empty %}
        <li><a href='{% url "lessons:exercise-create" %}'>Utwórz ćwiczenie</a></li>
    {% endfor %}
<ul>
</ul>
{% endblock %}
