.exercise-picture {
    height: 200px;
    max-width: 400px;
}

.img-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.icon-inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.icon-hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}